{%- comment -%}
    receives
        product
        color
{%- endcomment -%}

<div class="product-card__column">
    <div class="smallmans__product-card" theme="{{ color }}">
      <div class="card__image">
          {{ product.featured_image | img_url: 'large' | img_tag:product.title }}
        </div>
      <div class="card__text">
        <h1 class='title'>{{ product.title }}</h1>
        <p class='price'>{{ product.price }}</p>
      </div>
      <div class="action__buttons">
        <a href="{{ product.link }}" class="default">Read More</a>
      </div>
    </div>
  </div>