{%- assign this = section.settings -%}

<div class="page-404__container">
  <div class="page-404__container__text">
    <div class="title">
      {{ this.title }}
    </div>
    <div class="description">
      {{ this.description }}
    </div>
    <a href="{{ this.link.url }}" class="button primary large">{{ this.button_text }}</a>
  </div>
  <div class="page-404__image">
    {{ this.image | img_url: 'large'| img_tag: this.title }}
  </div>
</div>

{% schema %}
{
  "name": "404-options",
  "tag": "section",
  "class": "smallmans",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Page Title",
      "default": "PAGE NOT FOUND"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "label",
      "default": "We could not found the page or resource you are looking for. Please try another URL or click a link on this page."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Continue Shopping"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button URL"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Select a featured image for this page",
    }
  ]
}
{% endschema %}