{% comment %}

    receives:
        collection
        layout: pipe_corner, pipe_bottom, watermark
        colors : orange, blues, grays

{% endcomment %}

{% assign this = section.settings %}

{% if this.layout=='pipe_bottom' %}
{% capture layoutbg %}
url('{{ 'bottom-pipe.svg' | file_url }}')
{% endcapture %}
{% endif %}

{% if this.layout=='pipe_corner' %}
{% capture layoutbg %}
url('{{ 'corner-pipe.svg' | file_url }}')
{% endcapture %}
{% endif %}

{% if this.layout=='watermark' %}
{% capture layoutbg %}
url('{{ 'watermark-alpha-15.png' | file_url }}')
{% endcapture %}
{% endif %}

<div class='smallmans single-collection' theme='{{ this.color }}' layout='{{this.layout}}' style="--layoutbg: {{ layoutbg }}">
    <div class="smallmans__content">
        <div class="single-collection__header">
                <div class="collection-title">
                    <h2>{{ this.title }}</h2>
                    <h1>{{ this.collection.title }}</h1>
                </div>
                <div class="collection-button">
                    <a href="{{ this.collection.url }}" class="button primary small">
                        View All Items
                    </a>
                </div>
        </div>
        <div class="product-cards__container">
            {% for item in this.collection.products limit:8 %}
                {% render 'smallmans-product-card', product:item, color:this.card_color %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name":"Single Collection",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Section title",
            "default": "Check this collection"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Pick a collection"
        },
        {
            "type": "checkbox",
            "id": "show_cart_button",
            "label": "Show Add to Cart Button",
            "default": false,
            "info": "Select if each product of the section will show a button with 'Add To Cart' label."
        },
        {
            "type": "radio",
            "id": "layout",
            "label": "Section Layout",
            "default": "default",
            "options": [
                {
                    "value": "pipe_bottom",
                    "label": "Pipe Bottom"
                },
                {
                    "value": "pipe_corner",
                    "label": "Pipe Corner"
                },
                {
                    "value": "watermark",
                    "label": "Watermark"
                },
                {
                    "value": "default",
                    "label": "Default"
                }
            ]
        },
        {
            "type": "radio",
            "id": "color",
            "label": "Section Color Style",
            "default": "blue",
            "options": [
                {
                    "value": "gray",
                    "label": "Grays"
                },
                {
                    "value": "blue",
                    "label": "Blues"
                },
                {
                    "value": "orange",
                    "label": "Oranges"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                }
            ]
        },
        {
            "type": "radio",
            "id": "card_color",
            "label": "Cards Style",
            "default": "gray",
            "options": [
                {
                    "value": "gray",
                    "label": "Grays"
                },
                {
                    "value": "blue",
                    "label": "Blues"
                },
                {
                    "value": "orange",
                    "label": "Oranges"
                },
                {
                    "value": "transparent",
                    "label": "Transparent"
                }
            ]
        }
    ],
    "presets": [
       { 
           "name": "Smallmans Collection Section"
       }
    ]
}
{% endschema %}